/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  font-family: 'Playfair Display', serif;
}



.contactcontainer{
  /* border:4px solid blue; */
  width:100%;
  
  /* padding: 60px; */
  padding-bottom: 50px;
  height:auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.contactcontainer .inboxcont{
display: flex;
flex-wrap: wrap;
margin-top: 60px;
background-color: #fff;
justify-content: center;
/* border:4px solid red; */
border-radius: 10px;
box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);

 
}
.contactcontainer .inboxcont .contactinfobox{
  /* border:3px solid brown; */
  padding: 40px;
  width: 400px;
}
.contactcontainer .inboxcont .contactinfobox .social-media {
  padding: 2rem 0 0 0;
}
.contactcontainer .inboxcont .contactinfobox .social-media p {
  color:#333;
  font-size: 20px;
}
.contactcontainer .inboxcont .contactinfobox .social-media .social-icons {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 0.5rem;
}
.contactcontainer .inboxcont .contactinfobox .social-media .social-icons a {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background: linear-gradient(45deg, green, green);
  color: #fff;
  text-align: center;
  line-height: 45px;
  margin-right: 0.5rem;
  transition: 0.3s;
}
.contactcontainer .inboxcont .contactinfobox .social-media .social-icons a:hover {
  transform: scale(1.05);
  color: green;
  border:1px solid green;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  background:white;
}



.contactcontainer .inboxcont .contactinfobox .info .information {
  display: flex;
  color: #555;
  margin: 0.7rem 0;
  align-items: center;
  font-size: 0.95rem;
}

.contactcontainer .inboxcont .contactinfobox .title {
  color: green;
  font-weight: 500;
  font-size:30px;
  /* line-height: 1; */
  margin-bottom: 30px;
}
.contactcontainer .inboxcont .contactform{
  width: 420px;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 300px;
  background-color: green;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
  /* border:3px solid cyan; */
}
.contactcontainer .inboxcont .contactform .title {
  color: white;
  font-weight: 500;
  font-size:30px;
  /* line-height: 1; */
  margin-bottom: 30px;
}
.contactcontainer .inboxcont .contactform .btn {
  padding: 0.6rem 1.3rem;
  background-color: greenyellow;
  border: 2px solid rgb(4, 71, 4);
  font-size: 0.95rem;
  color: black;
  border-radius: 15px;
}
.contactcontainer .inboxcont .contactform .btn:hover {
  background-color: white;
  color: green;
}

.contactcontainer .inboxcont .contactform .input-container {
  margin: 20px 0px;
}
.contactcontainer .inboxcont .contactform .input-container ::placeholder{
  color: #fff;
}
.contactcontainer .inboxcont .contactform .input-container textarea.input {
  padding: 0.8rem 1.2rem;
  min-height: 150px;
  border-radius: 20px;
  resize: none;
  overflow-y: auto;
}

.contactcontainer .inboxcont .contactform .input-container .input {
  width: 100%;
  outline: none;
  border: 2px solid #fafafa;
  background: none;
  padding: 0.6rem 1.2rem;
  color:#fff;
  font-weight: 500;
  font-size: 0.95rem;
  letter-spacing: 0.5px;
  border-radius: 15px;
  transition: 0.3s;
}
.contactcontainer .inboxcont .contactform form {
  padding: 40px 10px;
 

}

@media (max-width:947px){
  .contactcontainer .inboxcont .contactform{
    margin-bottom: 60px;
  }
  .contactcontainer .inboxcont{
    margin-bottom: 60px;
  }
}




@media (max-width:800px){
  
.contactcontainer{
  padding: 0px;
}

}
@media (max-width:440px){
  .contactcontainer .inboxcont .contactform{
    width: 100%;
  }
  .contactcontainer .inboxcont .contactinfobox{
    /* border:3px solid brown; */
    padding: 0px;
    padding-bottom:40px;
    padding-left: 10px;
    width: 100%;
  }
}