
/* @import 'https://fonts.googleapis.com/css?family=Raleway:100,600';
@import 'https://fonts.googleapis.com/css?family=Open+Sans:300'; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body {
  font-family: 'Playfair Display', Serif;
}

 .section-title h2 {
  text-transform: uppercase;
}

.float{
  float: left;
}
.section-title {
  margin: 0 0;
  text-align: center;
}
.section-title p {
  text-transform: uppercase;
  font-weight:bold;
}
.single-team{
  padding-bottom: 70px;
  margin-left: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  box-shadow:5px 5px 15px #000;
  width: 300px;
  
}

.team-img{
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.team-img img{
  width: 100%;
  height: 300px;      
  transition: .3s;
}
.single-team:hover .team-img img {
  transform: scale(1.1);
}
.team-content {
  height: 70px;
  width: 100%;
  position: absolute;
  text-align: center;
  overflow: hidden;
  bottom: 0;
  transition: all .4s;
  background: green;
  z-index:5;
}
.single-team:hover .team-content{
  height: 290px;
}
.team-info {
  padding: 5px 20px 5px 20px;
  transition: all .5s;
}
.single-team:hover .team-content{
  background: #000;
}
.single-team .team-content .team-info h3 {
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  margin: 5px;
}
.single-team:hover .team-info h3{
  color: green;
}
.team-info p {
  margin-top: 15px;
  color: #fff;
}
.single-team-text p{
  margin-top: 5px;
}
.team-text {
  color: #fff;
  padding: 0 10px 5px;
}

.protea {
  padding-bottom: 50px;
}